@model List<UsuarioModel>
@{
    ViewData["Title"] = "uwusuario will be here uhhh breathes in semicolon and a parenthesis, making a winky smile this title was also made by my teacher";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justfy-content-md-start">
        <a role="button" class="btn btn-primary" asp-controller="Usuario" asp-action="Criar" >lets make the pizza i'm italian now wahoo</a>
    </div>
    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-info" role="alert">
            @TempData["MensagemSucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">(,,•ω•,,)♡</button>
        </div>
    }
    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">(─‿‿─)♡</button>
        </div>
    }
    <br />
    <h1>look it's another listtt!</h1>
    <table class="display" id="tabela-contatos">
     <!-- this is fucking stupid.
     what the fuck is the ai on- whatever not important
      anyways, keep in MIND, this contatos needs to stay because it seems to be what keeps the tables stable and alive.-->
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">OWO</th>
                <th scope="col">rawr</th>
                <th scope="col">uwu</th>
                <th scope="col">:3:3:3:3:3:3:3:3:3</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any()) {
                foreach (var usuario in Model){
                 <tr>
                <th scope="row">@usuario.Id</th>
                <td>@usuario.Name</td>
                <td>@usuario.Login</td>
                <td>@usuario.Email</td>
                <td>@usuario.DataCadastro</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">do u wanna edit this</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="ApagarConfirmacao">do u wanna delete this</a>
                    </div>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
